<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= title || "Dev Mansions" %></title>
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header class="site-header">
  <div class="container header-inner">
    <a href="/" class="brand">Dev Mansions</a>
    <nav class="main-nav">
      <a href="/">Início</a>
      <a href="/mansao/new" class="btn-outline">Cadastrar Mansão</a>
    </nav>
  </div>
</header>
